body {
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}


#title {
    background-color: #ff4c68;
    text-align: left;
}

.parrafo-title {
    color: white;
}

.title-icon {
    color: white;
    text-align: center;
    margin: auto;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding:0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
}


/* Servicios Section */

#servicios {
    padding: 7% 15%;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Instalaciones Section */

.fotos-instalaciones {
    margin: 3% 2%;
    padding: 3% 2%;
}

.texto-instalaciones {
    padding-top: 3%;
}

.testimonial-image {
    width: 50%;
    border-radius: 2%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

.otraClase {
    color: #ef8172;
}

#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Clases Section */

#clases {
    padding: 100px;
    background-color: #ff4c68;
}

.card-lista {
    text-align: left;
}

.titulo-clases {
    color: white;
}

.icono-nadar {
    color: #ef8172;
    margin: auto;
}

.pricing-column {
    padding: 3% 2%;
}

/* Contacto Section */

#contacto {
    background-color: #ff4c68;
    color: #fff;
    padding: 2% 15%;
    margin: 0% 0% 8%;
    
}

.boton-telefono {
    margin: 1%;
}

.title-cta {
    font-family: "Montserrat-Bold";
    font-size: 3.5rem;
    line-height: 1.5;
}

.network-icons {
    margin: 25px;
    color: black;
}

.copyright {
    color: black;
}


/* Media Queries */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
    }
}


